.button {
    position: absolute; /* positioned absolutely relative to its closest positioned ancestor */
    top: 10rem;
    z-index: 1000;
    background-color: white; /* Transparent */
    border: none;
    border-radius: 30px;
    box-shadow: 10px 10px 5px #aaaaaa;
    width: 50px;
    height: 50px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
}

.weatherBtn {
    position: absolute; /* positioned absolutely relative to its closest positioned ancestor */
    top: 15rem;
    z-index: 1000;
    background-color: white; /* Transparent */
    border: none;
    border-radius: 30px;
    box-shadow: 10px 10px 5px #aaaaaa;
    width: 50px;
    height: 50px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.wikiBtn {
    position: absolute; /* positioned absolutely relative to its closest positioned ancestor */
    top: 20rem;
    z-index: 1000;
    background-color: white; /* Transparent */
    border-radius: 30px;
    box-shadow: 10px 10px 5px #aaaaaa;
    border: none;
    width: 50px;
    height: 50px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
}

.erBtn {
    position: absolute; /* positioned absolutely relative to its closest positioned ancestor */
    top: 25rem;
    z-index: 1000;
    background-color: white; /* Transparent */
    border: none;
    border-radius: 30px;
    box-shadow: 10px 10px 5px #aaaaaa;
    border: none;
    width: 50px;
    height: 50px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
}

.tzBtn {
    position: absolute; /* positioned absolutely relative to its closest positioned ancestor */
    top: 30rem;
    z-index: 1000;
    background-color: white; /* Transparent */
    border: none;
    box-shadow: 10px 8px 5px #aaaaaa;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}


.icon {
    height: 65%;
}

.button:hover, .tzBtn:hover, .erBtn:hover, .wikiBtn:hover, .weatherBtn:hover   {
    background-color: rgb(145, 141, 141);
    color : white
}

